.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    background-color: rgb(241, 241, 241);
    color: rgb(23, 24, 23);
}

.fa-facebook {
  color: rgba(59, 89, 152);
  
}

.fa-twitter {
  color: rgb(0, 172, 238);
}

.fa-google {
  color: rgb(219, 50, 54);
}

.fa-linkedin {
  color: rgb(14, 118, 168);
}

.fa-youtube {
  color: rgb(255, 0, 0);
}

.fa-instagram {
  color: rgb(205, 72, 107);
}


