
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    background-color: rgb(241, 241, 241);
}

.fa-facebook {
  color: rgb(145, 132, 132);
  
}

.fa-twitter {
  color: rgb(145, 132, 132);
}

.fa-google {
  color: rgb(145, 132, 132);
}

.fa-linkedin {
  color: rgb(145, 132, 132);
}

.fa-youtube {
  color: rgb(145, 132, 132);
}

.fa-instagram {
  color: rgb(145, 132, 132);
}

.fa-rss {
  background: #ff6600;
  color: white;
}

