*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    padding-top: 1;
    background-image: url(background-image-8.jpeg);
    
}
.text{
    /* background-color: aliceblue; */
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 2em;
    color: blue;
}
.calc-title{
    font-size:1.6em;
    color: rgb(39, 95, 247);


}
.sidebar{
    /* background: rgb(255, 169, 98); */
    /* background-image: url(background-image-.jpeg); */
    background-repeat: no-repeat;
}

span{
    text-align: center;
    color: rgb(151, 28, 28);
}

.sidebar-header{
    text-align: center;
    text-transform: capitalize;
    color: rgb(29,41,54);
    
}
.sidebar-header2{
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 1rem 1.5rem;
}

.links a{
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: rgb(22, 74, 122);
    transition: all 0.3s linear;
    cursor: pointer;
    text-align: left;
}

.links a:hover{
    background: rgb(132, 130, 146);
    padding-left: 1.75rem;
}

.heading{
    font-size: 2rem;
    padding: 1mm;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    background: rgb(233, 241, 248);
    place-items: center;
    align-items: center;
    background-image: url(background-image-5.jpeg);
    background-repeat: repeat-y
    
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    font-size: 1.2em;
    font-weight: bolder;
    border: none;
    text-align: left;
    padding: 2px;

    
}
.textbox{
    background-size: 1rem;
    box-sizing:border-box;
    border-collapse:separate;
}

.calculator{
    display: block;
    background: rgb(233, 241, 248);
    font-size: 1.2rem;
    text-align: center;
    text-transform: initial;
    transition: all 0.3s linear;
    cursor: pointer;

}
.calculator:hover{
    background: rgb(203, 202, 204);
    
}

.add1{
    align-items: center;
    background:none;
    display: block;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: bolder;
    padding: 1rem 1.5rem;
    color: rgb(22, 74, 122);
    transition: all 0.3s linear;
    cursor: pointer;
}

.add2{
    font-size: small;
    align-items: center;

}

.footer{
    background:rgb(233, 24, 17);
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 1.5rem;
    font-weight: 200;
    color: aliceblue;
    align-items: center;
    width: 100%;
    height: 36px;
}

.content-container{
    height: calc(100vh - 36px);
    overflow: auto;
}

.btn-warning:hover {
    background-color:red;
  }
