*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    padding-top: 1;
}
.text{
    background-color: aliceblue;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 2em;
    color: blue;
}

.sidebar{
    background: rgb(241, 234, 234);
}

span{
    color: rgb(151, 28, 28);
}

.sidebar-header{
    text-align: center;
    text-transform: capitalize;
    color: rgb(29,41,54);
}

.links a{
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: rgb(22, 74, 122);
    transition: all 0.3s linear;
    cursor: pointer;
}

.links a:hover{
    background: rgb(132, 130, 146);
    padding-left: 1.75rem;
}

.heading{
    font-size: 3.5rem;
    text-transform: capitalize;
    background: rgb(233, 241, 248);
    place-items: center;
    align-items: center;
    background-image: url(background-image.jpeg);
    
}
table{
  
    font-size: 1.3 rem;
    text-align: left;
}
td, th {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

.calculator{
    display: block;
    background: rgb(233, 241, 248);
    font-size: 1.2rem;
    text-align: center;
    text-transform: initial;
    transition: all 0.3s linear;
    cursor: pointer;

}
.calculator:hover{
    background: rgb(203, 202, 204);
    
}

.add1{
    align-items: center;
    background:none;
    display: block;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: rgb(22, 74, 122);
    transition: all 0.3s linear;
    cursor: pointer;
}

.add2{
    font-size: small;
    align-items: center;

}

.footer{
    background:rgb(233, 24, 17);
    font-size: 1.5rem;
    font-weight: 200;
    color: aliceblue;
    align-items: center;
    width: 100%;
    height: 36px;
}

.content-container{
    height: calc(100vh-36px);
    
}

.btn-warning:hover {
    background-color:red;
  }
