*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    padding-top: 1;
    background-image: url(background-image.jpeg);
    background-blend-mode: soft-light;
    
}
.text{
    /* background-color: aliceblue; */
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 2em;
    color: rgb(22, 74, 122);
}
.calc-title{
    font-size:1.6em;
    color: rgb(22, 74, 122);


}
.sidebar{
    /* background: rgb(255, 169, 98); */
    /* background-image: url(background-image-.jpeg); */
    background-repeat: no-repeat;
    
}

span{
    text-align: center;
    color: rgb(151, 28, 28);
}

.sidebar-header{
    text-align: center;
    text-transform: capitalize;
    color: rgb(29,41,54);
    
}
.sidebar-header2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
    padding: 1rem 1.5rem;
}

.links a{
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: rgb(22, 74, 122);
    transition: all 0.3s linear;
    cursor: pointer;
    text-align: left;
}

.links a:hover{
    background: rgb(210, 209, 218);
    padding-left: 1.5rem;
}
.add2:hover {
    background: rgb(155, 152, 152);
    padding-left: 1rem;
    display: block;
    opacity: 1
  
}
.heading{
    font-size: 2rem;
    padding: 1mm;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    align-items: center;
    background-image: url(background-image-5.jpeg);
    
    
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    font-size: 1.9em;
    color: rgb(54, 52, 52);
    font-weight: bolder;
    border: none;
    text-align: left;
    padding: 2px;

    
}
.textbox{
    background-size: 1rem;
    box-sizing:border-box;
    border-collapse:separate;
}

.calculator{
    display: block;
    background: none;
    font-size: 1.2rem;
    text-align: center;
    text-transform: initial;
    transition: all 0.3s linear;
    cursor: pointer;

}


.add1{
    align-items: center;
    background:none;
    display: block;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: bolder;
    padding: 1rem 1rem;
    color: rgb(22, 74, 122);
    transition: all 0.5s linear;
    cursor: pointer;
}

.add2{
    font-size: normal;
    align-items: center;
    padding: 0.5rem 0.5rem;
    font-weight:normal;
    color: rgb(22, 74, 122);
    transition: all 0.5s linear;
    cursor: pointer;
}

.footer{
    background:rgb(129, 117, 117);
    background-image: url(background-image-3.jpeg);
    align-self: center;
    text-align: center;
    color: rgb(41, 10, 216);
    position: fixed;
    bottom: 0;
    font-size: 1.3rem;
    font-weight: 200;
    color: rgb(248, 248, 248);
    align-items: center;
    width: 100%;
    height: 60px;
    padding: auto;
}

.content-container{
    height: calc(100vh - 36px);
    overflow: auto;
}

.btn-warning:hover {
    background-color:rgb(156, 151, 151);
  }
